{% extends "layout.html" %}


{% from "button/macro.njk" import button %}
{% from "summary-list/macro.njk" import summaryList %}

{% block beforeContent %}
  {{ backLink({
    href: "/enter-your-reading",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check your answers</h1>

    
      {% if data['readingMethod'] == "home" %}
  {% set readingMethodText = "With a monitor at home" %}
{% else %}
  {% set readingMethodText = "clinic or pharmacy" %}
    {% endif %}



      {{ summaryList({
        rows: [
          {
            key: {
              text: "How was your reading done"
            },
             value: {
        text: readingMethodText
      },
            actions: {
              items: [
                {
                  href: "/how-was-your-reading-done",
                  text: "Change",
                  visuallyHiddenText: "how was your reading done"
                }
              ]
            }
          },
          {
            key: {
              text: "Systolic"
            },
            value: { text: data['systolic'] },
            actions: {
              items: [
                {
                  href: "/enter-your-reading",
                  text: "Change",
                  visuallyHiddenText: "Systolic number"
                }
              ]
            }
          },
          {
            key: {
              text: "Diastolic"
            },
            value: { text: data['diastolic'] },
            actions: {
              items: [
                {
                  href: "enter-your-reading",
                  text: "Change",
                  visuallyHiddenText: "dyastolic number"
                }
              ]
            }
          }
          
        
        ]
      }) }}

     

      <form action="/form-handler" method="post" novalidate>
        {{ button({
          text: "Get your result"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}



{% block footer %}
  {{ footer({
    navigation: {
      items: [
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Contact us"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Privacy policy"
        },
        {
          href: "#",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}